* {
box-sizing: border-box;
}

*:focus {
outline: none;
}
body {
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #D8BFD8;
}

.login-form {
text-align: center;
}

.login-link {
font-size: 12px;
color: #D8BFD8;
display: block;
margin-top: 12px;
}
