p{
  font-size: 2rem;
  font-style: italic;
}

#feature-dream-info{
  text-align: center;
}

#feature-dream-date{
  font-size: 1rem;
}

#feature-dream{
  top: 40%;
  position: absolute;
  width: 90%;
}
