<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/base.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Sarabun:400,700" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Dreams</title>
    {% endblock %}
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Dream Project</a>
      </li>
      <li>
        <a href="/mydreams">My Dreams</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  <div id="footer">
    {% block footer %}
    &copy; <a href="#">Cassio Montanher Silva</a>.
    {% endblock %}
  </div>
</footer>
</html>
