{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/style-main.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript">
    </script>
    {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
    <h1>Dreams...</h1>
      <div id="feature-dream">
        <p id="feature-dream-info">
        </p>
        <p id="feature-dream-date">
        </p>
      </div>
{% endblock %}
